header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    height: 7vh;
    text-decoration: none;
    list-style-type: none;
}

#menu-burger {
    float: right;
    height: 2vh;
    margin: 2.5vh;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

#fullpage {
    margin-top: 7vh;
}

#halfbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: 2rem;
}

#douceurs-saveurs {
    color: white;
    font-weight: 400;
}

#cafe-delicieux {
    color: #E9BD8C;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    margin-top: 50%;
}

h1 {
    font-family: 'Sansita Swashed';
    font-size: 26px;
    margin: 0;
}

h2 {
    font-family: 'Sansita Swashed';
    text-align: center;
    font-size: 24px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

#icon {
    max-height: 80%;
    margin: 0.5vh;
}

#order {
    color: white;
    font-weight: 600;
    font-family: "Inter";
    font-size: 16px;
    background-color: #933C24;
    padding: 10px;
    border-radius: 8px;
    border: black solid 1px;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 104px;
}

.accueil {
    width: 100%;
    height: 100%;
    background-image: url(assets/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.top-produit {
    background-image: url(assets/Background_slate.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 360px;
    align-self: center;
    background-position: stretch;
    border-radius: 8px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-top-produits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 2vh;
    margin: 2vh;
}

.top-produit-photo {
    display: flex;
    justify-content: center;
}

.top-produit-photo img {
    max-width: 160px;
}

.nom-top-produit {
    font-family: "Inter";
    color: white;
    font-size: 16px;
}

.produit-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    color: white;
    margin-left: 3vh;
    margin-right: 3vh;
    width: 50%;
}

.produit-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin-left: 3vh;
    margin-right: 3vh;
    width: 50%;
}

.image_tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-btn img {
    height: 30px;
    width: 30px;
}



.prix-top-produit {
    height: 50%;
    display: flex;
    justify-content: left;
    font-weight: 600;
}

.nom-top-produit {
    height: 50%;
    display: flex;
    justify-content: left;
}

.info-btn {
    height: 50%;
    display: flex;
    justify-content: center;
}

.add-btn {

    display: flex;
    justify-content: center;
}

.add-btn-text {
    background-color: #933C24;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Inter';
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.reduction {
    background-image: url("assets/Background_reduction.png");
    min-height: 379px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about {
    background-image: url("assets/Background_a_propos.png");
    min-height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reduction h3 {
    font-family: "Sansita Swashed";
    color: #933C24;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 100%;
}

.about h3 {
    font-family: "Sansita Swashed";
    color: white;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 100%;
}

#reduc-subtext {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 100%;
    color: #5D5D5D;
}

#about-subtext {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    width: 100%;
    color: #B9B9B9;
}

#reduc-text {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 275px;
}

.about-text {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 275px;
    height: 100%;
}

.more-info-btn {
    color: white;
    font-weight: 600;
    font-family: "Inter";
    font-size: 16px;
    background-color: #933C24;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 23px;
    padding-top: 23px;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
}

.picture-discover {
    width: 298px;
    height: 290px;
    border-radius: 8px;
    overflow: hidden;
}

.picture-discover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.picture-section-discover {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.section-plaisirs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.plaisir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plaisir-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
}

.plaisir-photo {
    width: 298px;
    height: 290px;
    border-radius: 8px;
    overflow: hidden;
}

.plaisir-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

footer {
    background-image: url("assets/Background_footer.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 258px;
}

.footer-rights {
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #737373;
}

.footer-text {
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
}

.footer-title {
    font-family: 'Inter';
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    color: #E9BD8C;
    text-align: center;
}

.bolded-footer-text {
    color: white;
    font-family: Poppins;
    font-size: 24px;
    text-align: left;
    font-weight: 600;
}

.footer-actu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
    height: 100px;
    align-items: center;
}

.footer-photo {
    max-height: 100%;
    max-width: 33%;
}

.footer-photo img {
    border-radius: 2px;
}

.footer-actu-date {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #E9BD8C;
    margin: 0;
    text-align: left;
}

.footer-actu-name {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin: 0;
    text-align: left;
}

.footer-actu-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.footer-info {
    margin: 5%;
}

.scroll-discover {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.scroll-item {
    padding: 15px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #5D5D5D;
    text-decoration: none;
}

